*{
    background-color: rgb(246, 184, 184);
}

.encabezado-uno{
    color: #d1dc0f !important;
}

.encabezado-uno{
    color: darkgreen;
}



h1{
    color:dodgerblue;
}

.encabezado-dos{
    -webkit-box-shadow: -20px -17px 15px 5px #000000; 
box-shadow: -20px -17px 15px 5px #000000;
}

.myButton {
    margin: 80px;
    padding: 80px;
    border: 20px;
    width: 60px;
    height: 120px;
    color: rgb(199, 11, 11); font-size: 22px; line-height: 22px; padding: 12px; border-radius: 23px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) -20px -17px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #a41e1c; }
    .myButton:active {
    background: #751414; }